@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, I'm the Internal Site.</h1>
    <p>And here is where we proof we have updated - 0.5.8-2</p>
</div>
